p.earth {
  position: relative;
  text-align: center;
  font-size: 28px;
  font-family: 'Papyrus', sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px darkblue;
}
div#paper {
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 4px solid rgb(0, 0, 64);
  border-radius: 12px;
  box-shadow: 6px 6px 6px 6px darkgrey;
  background-image: linear-gradient(to right bottom, rgba(0, 32, 144, 0.8), rgba(0, 160, 255, 0.8));
}
